extends layout

block content
  //h1= title
  input(type='hidden' id='gameName' value=gameName)
  input(type='hidden' id='numPlayers' value=numPlayers)
  input(type='hidden' id='numQPR' value=numQPR)
  input(type='hidden' id='playerName' value=playerName)
  input(type='hidden' id='categories' value=categories)
  input(type='hidden' id='isNewGame' value=isNewGame)
  input(type='hidden' id='questions' value=questions)

  //initial waiting lobby
  #waitingDiv.container
    .content
      h1 <strong>Game Name: #{gameName}
      h4 Expected Players: #{numPlayers}
      p The game will start when all players join.
      table#waitingTable.table
        thead
          tr
            th <strong> #
            th <strong>Player
        tbody
        - var n = 1;
          while n <= numPlayers
            tr
              td= n++
              td waiting...

  #waitingHostLoader(style='display: none;')
    .spinner
      .rect1
      .rect2
      .rect3
      .rect4
      .rect5
    .content
      h1(align='center') Host is picking question...
      #timer

  #waitingAnswerLoader(style='display: none;')
    .spinner
      .rect1
      .rect2
      .rect3
      .rect4
      .rect5
    .content
      h1(align='center') Waiting on other users to submit answers...

  #waitingGuessesLoader(style='display: none;')
    .spinner
      .rect1
      .rect2
      .rect3
      .rect4
      .rect5
    .content
      h1(align='center') Waiting on other users to guess correct answer...

  #hostDiv(style='display: none;')
    .content
      h3 Choose a category from the categories below:
      #catDiv
      #hostQDiv
      #timerHost


  #writeAnswerDiv(style='display: none;')
    .content
      h2 Question:
      h3#questionHeader
      #warningMsg.alert.alert-warning(style='display: none;')
      .form-group
        label Your answer:
        input.form-control(type='text', id='answerTxt', placeholder='Your answer')
      button.btn.btn-primary(id='answerSubmitBtn') Submit
      #timerWriteAnswer
      p If you select the right answer you are awarded points


  #guessAnswerDiv(style='display: none;')
    .content
      h2 Question:
      h3#answerGuessHeader
      p Guess which answer you think is correct:
      #guessDiv
      #timerGuessAnswer

  #questionResultsDiv(style='display: none;')
    .content
      h2 Question Results:
      table#questionResultsTable.table.table-striped
        thead
          tr
            th Rank
            th Player Name
            th Current Score
        tbody
      #questionResultsTimer

  #roundResultsDiv(style='display: none;')
    .content
      h2 Round Results:
      table#roundResultsTable.table.table-striped
        thead
          tr
            th Rank
            th Player Name
            th Round Score
        tbody
      button.btn.btn-primary(id='playAgainBtn') Vote to Play Another Round
      |
      button.btn.btn-primary(id='leaveGameBtn') Leave Game
      #roundResultsTimer

  #gameOverDiv(style='display: none;')
    .content
      h1 Game over
      p#reasonP
      h2 Winner:
      h1#winnerHeader(align='center')
      |
      a.btn.btn-primary(href='/', align='center') Home

  #gameExistsDiv(style='display: none;')
    .content
      h1 Error: Game Exists
      p Create a game with a different name or join an existing game
      |
      a.btn.btn-primary(href='/game/joingame', align='center') Join Game
      |
      a.btn.btn-primary(href='/game/newgame', align='center') Create New Game


  block scripts
    script(src='../js/main.js', type='text/javascript')
    script(src='http://localhost:3000/socket.io/socket.io.js')